@import 'Header/header';

.content {
  @include row();
  flex-grow: 2;

  &-inner {
    @include col(6);
    @include col(lg, 3);
  }

  &-text {
    font-size: 1rem;
    font-weight: 900;
    line-height: 1.3;
  }
}
