$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "./fonts/icomoon/" !default;

$icon-feedback: "\e901";
$icon-facebook: "\e900";
$icon-instagram: "\e902";
$icon-linkedin: "\e903";
$icon-twitter: "\e904";

