.btn {
  cursor: pointer;
  color: inherit;
  border: 0;
  outline: 0;
  background: none;
  &:hover {
    color: $color-link;
  }
  &:disabled {
    cursor: default;
  }
  &-icon + .btn-text,
  &-text + .btn-icon {
    padding-left: $gutter / 2;
  }
}
