// Colors
$bg-primary: #f9f9f9;
$bg-secondary: #fff;
$color-primary: #000;
$color-secondary: #999;
$color-link: #2bf;
$border-color: #f2f2f2;

// Width and breakpoints
$min-width: 320px;
$sm: $min-width;

// Font sizes
$font-reg: 16px;
$font-md: 18px;

// Font
$font: 'Roboto', sans-serif;