// Colors
$bg-primary: #f9f9f9;
$bg-secondary: #fff;
$color-primary: #000;
$color-secondary: #999;
$color-link: #2bf;

// Width and breakpoints
$min-width: 320px;
$sm: $min-width;
$md: 736px;

// Font sizes
$font-reg: 16px;
$font-md: 24px;

// Font
$font: 'Roboto', sans-serif;