// Colors
$bg-primary: #f9f9f9;
$bg-secondary: #fff;
$color-primary: #000;
$color-secondary: #999;
$color-link: #2bf;
$bg-link: #efefef;
$border-color: #f2f2f2;

// Width
$min-width: 320px;

// Font sizes
$font-reg: 16px;
$font-md: 18px;
$font-lg: 20px;

// Font
$font: 'Roboto', sans-serif;