@import 'Nav/nav';
@import 'Social/social';

.footer {
  border-top: 4px solid $border-color;
  background: $bg-secondary;
  &-inner {
    @include row();
    @include row-reset();
    @include between();
    @include middle();
  }

  &-col {
    &:not(:last-child) {
      margin-bottom: -$gutter;
      @media #{$breakpoint-md-up} {
        margin-bottom: 0;
      }
    }

    &.-nav {
      @include col(6);
      @include col(md, 3);
      @include col(lg, 4);
    }
    &.-social {
      @include col(6);
      @include col(md, 3);
      @include col(lg, 2);
    }

     + .footer-col {
      margin-top: -$gutter;
      @media #{$breakpoint-md-up} {
        margin-top: 0;
      }
    }
  }
}
